.input {
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-left: 570px;
    padding-top: 70px;
    padding-left: 20px;
    font-size: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    border-bottom-style: groove;

}

.button {
    padding: 10px 4px;
    margin-left: 50px;
    background-color: rgb(65, 240, 30);
    color: white;
    background-origin: 2px solid black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;

}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
